# Django
django==1.5.4
south==0.8.2
django-autoslug==1.7.1
#django-admin-tools==0.5.1 # No python3 support yet
hg+https://bitbucket.org/vstoykov/django-admin-tools@77cfa30
django-taggit==0.10

# Gondor
gondor==1.2.4
psycopg2==2.5.1
gunicorn==18.0

# Tests
tox==1.6.1
nose==1.3.0
django-nose==1.2
factory_boy==2.2.1
exam==0.10.2
mock==1.0.1

# Misc
requirements-parser==0.0.6
pkgtools==0.7.2
PyGithub==1.19.0
