{% extends 'base.html' %}
{% load i18n %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      <h1>What the Library?</h1>
      {% blocktrans %}
        <p>
          Our goal is to answer your question on what library to pick.
        </p>
        <p>
          To make this possible, we collect data about packages used in open
          source projects written in different languages by analysing appropriate
          files, like <code>requirements.txt</code>, <code>Gemfile</code>,
          <code>Podfile</code>.
        </p>
      {% endblocktrans %}
      <div class="well form-repo">
        {% include 'wtlib/_repo_form.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'wtlib/_top_libs.html' %}
{% endblock %}
