{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ library.name }}
  ∙
  {% trans 'Libraries' %}
  ∙
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ library.name }} <small title="{% trans 'Total users' %}">({{ library.total_users }})</small></h1>
  {% if library.url_home or library.url_docs or library.url_repo %}
    <ul class="list-inline library-links-list">
      <li><span class="glyphicon glyphicon-globe"></span></li>
      {% if library.url_home %}
        <li><a href="{{ library.url_home }}">{% trans 'Homepage' %}</a></li>
      {% endif %}
      {% if library.url_docs %}
        <li><a href="{{ library.url_docs }}">{% trans 'Documentation' %}</a></li>
      {% endif %}
      {% if library.url_repo %}
        <li><a href="{{ library.url_repo }}">{% trans 'Repository' %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
  {% if library.short_description %}
    <h2>{% trans 'Description' %}</h2>
    <article class="library-short-description">
      {{ library.short_description }}
    </article>
  {% endif %}
  {% if library.license %}
    <h2>{% trans 'License' %}</h2>
    <article class="library-license">
      {{ library.license }}
    </article>
  {% endif %}

  <h2>{% trans 'Projects' %}</h2>
  <ul>
    {% for version in library.versions.all %}
      {% for project in version.projects.all %}
        <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
