{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if not mixed_languages %}{{ language.name }}{% endif %}
  {% trans 'Libraries' %}
  ∙
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1 class="page-header">
    {% if not mixed_languages %}<span style="color: {{ language.color }}">{{ language.name }}</span>{% endif %}
    {% trans 'Libraries' %}
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Popularity' %}</th>
        {% if mixed_languages %}<th>{% trans 'Language' %}</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for lib in libraries %}
        <tr>
          <td><a href="{{ lib.get_absolute_url }}">{{ lib.name }}</a></td>
          <td>{{ lib.total_users }}</td>
          {% if mixed_languages %}<td>{{ lib.language.name }}</td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
