{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ library.name }}
  ∙
  {% trans 'Libraries' %}
  ∙
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ library.name }} <small title="{% trans 'Total users' %}">({{ library.total_users }})</small></h1>
  {% if library.url_home or library.url_docs or library.url_repo %}
    <ul class="list-inline library-links-list">
      <li><span class="glyphicon glyphicon-globe"></span></li>
      {% if library.url_home %}
        <li><a href="{{ library.url_home }}">{% trans 'Homepage' %}</a></li>
      {% endif %}
      {% if library.url_docs %}
        <li><a href="{{ library.url_docs }}">{% trans 'Documentation' %}</a></li>
      {% endif %}
      {% if library.url_repo %}
        <li><a href="{{ library.url_repo }}">{% trans 'Repository' %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
  {% if library.tags.count %}
    <ul class="list-inline library-tags">
      <li><span class="glyphicon glyphicon-tags"></span></li>
      {% for tag in library.tags.all %}
        <li><a href="{% url 'wtlib_libraries_list_by_tag' language_slug=language.slug tag=tag.slug %}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if library.short_description %}
    <h2>{% trans 'Description' %}</h2>
    <article class="library-short-description">
      {{ library.short_description }}
    </article>
  {% endif %}
  {% if library.license %}
    <h2>{% trans 'License' %}</h2>
    <article class="library-license">
      {{ library.license }}
    </article>
  {% endif %}

  {% with library.often_used_with as often_used_with %}
    {% if often_used_with|length %}
      <h2>This library is ofter used with:</h2>
      <ul>
        {% for library in often_used_with|slice:":5" %}
          <li><a href="{{ library.get_absolute_url }}">{{ library.name }}</a> <small title="usage count">({{ library.usage_count }})</small></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h2>{% trans 'Projects' %}</h2>
  <ul>
    {% for project in library.projects %}
      <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
