{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ project.name }}
  ∙
  {% trans 'Projects' %}
  ∙
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ project.name }}</h1>
  {% if project.github %}
    <section class="project-info">
      <dl class="dl-horizontal">
        <dt>{% trans 'GitHub repository' %}</dt>
        <dd><a href="https://github.com/{{ project.github.owner }}/{{ project.github.name }}">{{ project.github.owner }}/{{ project.github.name }}</a></dd>
        <dt>{% trans 'Description' %}</dt>
        <dd>{{ project.github.description }}</dd>
        <dt>{% trans 'Stars' %}</dt>
        <dd><span class="glyphicon glyphicon-star"><a href="https://github.com/{{ project.github.owner }}/{{ project.github.name }}/stargazers">{{ project.github.starsCount }}</a></dd>
      </dl>
    </section>
  {% endif %}
  <h2>{% trans 'Dependencies' %}</h2>
  <section class="dependencies-list">
    <dl class="dl-horizontal">
      {% for lib in project.libraries.all %}
        <dt>
          <a href="{{ lib.library.get_absolute_url }}">{{ lib.library.name }}</a>
        </dt>
        <dd>
          {% if lib.version %}{{ lib.version }}{% else %}<em title="{% trans 'Latest stable' %}">{{ lib.version_special }}</em>{% endif %}
          {% if lib.library.short_description %}<small class="text-muted">({{ lib.library.short_description }})</small>{% endif %}
        </dd>
      {% endfor %}
    </dl>
  </section>
  {% with project.often_used_with as often_used_with %}
    {% if often_used_with|length %}
      <h2>{% trans "Libraries often used with your dependencies" %}</h2>
      <ul>
        {% for library in often_used_with|slice:":10" %}
          <li><a href="{{ library.get_absolute_url }}">{{ library.name }}</a> <small title="{% trans "usage count" %}">({{ library.usage_count }})</small></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
