html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

#footer {
  height: 30px;
  background-color: #f5f5f5;
  line-height: 30px;
  text-align: center;
}

#wrap > .container {
  padding: 64px 16px 0;
}
#wrap > .jumbotron {
  margin: 0;
}

.form-repo {
  max-width: 400px;
  margin: 0 auto;
}

.top-libraries {
  margin: 3em auto;
}

/* StreaminLogResponse page */
.log-entry {
  margin: 1em;
}
  .log-entry time {
    color: #999999;
  }
.log-entry-CRITIAL, {
  color: #ff6462;
}
.log-entry-ERROR {
  color: #b94a48;
}
.log-entry-WARNING {
  color: #c09853;
}
.log-entry-INFO {
}
.log-entry-DEBUG {
  color: #999999;
}
.log-entry-NOTSET {
  color: #999999;
}
