html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

  #wrap > .container {
    padding: 40px 16px;
  }
  #wrap > .jumbotron {
    margin: 0;
  }

#footer {
  height: 30px;
  background-color: #f5f5f5;
  line-height: 30px;
  text-align: center;
}

.form-repo {
  max-width: 440px;
  margin: 48px auto 0;
  line-height: 1em;
}

.top-libraries {
  margin: 0 auto;
  word-wrap: break-word;
}
  .top-libraries h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

/* Project page */
.project-info {
}
  .project-info dt,
  .project-info dd {
    margin-bottom: .2em;
  }

.dependencies-list {

}
  .dependencies-list dt,
  .dependencies-list dd {
    margin-bottom: .2em;
  }
  .dependencies-list dt {
    width: 200px;
  }
  .dependencies-list dd {
    margin-left: 220px;
  }
/* StreaminLogResponse page */
.log-entry {
  margin: 1em;
}
  .log-entry time {
    color: #999999;
  }
.log-entry-CRITIAL, {
  color: #ff6462;
}
.log-entry-ERROR {
  color: #b94a48;
}
.log-entry-WARNING {
  color: #c09853;
}
.log-entry-INFO {
}
.log-entry-DEBUG {
  color: #999999;
}
.log-entry-NOTSET {
  color: #999999;
}
