{% load i18n %}
<header class="site-header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">{% trans 'What The Library?' %}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown{% if active_menu == 'libraries' %} active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'wtlib_libraries_list' %}">{% trans 'Libraries' %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for lang in languages %}
              <li{% if active_menu == 'libraries' and active_language == lang.slug %} class="active"{% endif %}>
                <a href="{{ lang.get_absolute_url }}" style="color: {{ lang.color }}">{{ lang.name }}</a>
              </li>
            {% endfor %}
              <li{% if active_menu == 'libraries' and not active_language %} class="active"{% endif %}>
                <a href="{% url 'wtlib_libraries_list' %}">{% trans 'All' %}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown{% if active_menu == 'projects' %} active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'wtlib_projects_list' %}">{% trans 'Projects' %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for lang in languages %}
              <li{% if active_menu == 'projects' and active_language == lang.slug %} class="active"{% endif %}>
                <a href="{% url 'wtlib_projects_list' language_slug=lang.slug %}" style="color: {{ lang.color }}">{{ lang.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
